/* adding a page border */

body:before, body:after {
    content: "";
    position: fixed;
    background: #900;
    left: 0;
    right: 0;
    height: 4px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}





/* width of content */

.content {
	margin: 5% 20% 10% 28%;
	float: right;
}

.content-images {
	margin: 5% 5% 10% 25%;
	float: right;
}





/* text styles */

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 800;
	font-style: italic;
	font-size: 36px;
}

h1 a {
	text-decoration: none;
	color: inherit;
}

.gallery-aligned-text {
	padding-left: 10px;
	padding-bottom: 1em;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	margin-bottom: 2em;
	color: #900;
}

h2 a {
	text-decoration: none;
	border-bottom: 1px solid #900;
	color: inherit;
}

.blog-credit {
	color: #555;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	margin-bottom: 2em;
	color: #900;
}


h3 a {
	text-decoration: none;
	color: #999;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 1em;
}

.fineprint {
	font-size: 12px;
}

p a {
	color: inherit;
}

.about-photo {
	padding-bottom: 2em;
	width: 100%;
}

.exterior-link-photo {
	padding-bottom: 2em;
	width: 40%;
}

.resume {
	border: 1px solid black;
	width: 100%;
}

.li {
	padding-bottom: 2em;
}

.Austin {
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 0;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	color: #000;
}

.occupation {
	display: none;
}

.menu-label {
	display: none;
}

.owner {
	padding-bottom: 1em;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.menu .owner a {
	padding: 0 0 0 0;
	text-decoration: none;
	color: #000;
	line-height: inherit;
}
.menu .owner a:hover {
	color: #FFF;
}


/* responsive nav */

.menu {
	position: absolute;
	margin: 5% 0 0 5%;
	float: left;
	background: #EEE;
	padding: 15px 25px 15px 25px;
}
.menu ul {
	margin: 0;
	padding: 0;
}
.menu li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
.menu a {
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
}
.menu a:hover {
	color: #000;
}
.menu .current a {
	background: #999;
	color: #fff;
	border-radius: 5px;
}





/* nav media queries */

@media all and (max-width: 1000px) {

	.content {
		margin: 0% 10% 10% 10%;
	}

	.content-images {
		margin: 5% 10% 10% 10%;
		float: right;
	}

	.owner {
		margin-top: 5%;
	}

	.occupation {
	display: inline;
	}

	.menu-label {
		display: inline;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		color: #900;
	}

	h1 {
		padding-top: .5em;
	}

	.menu {
		position: relative;
		border: none;
		width: 80%;
		background: none;
		margin: 0% 10% 50px 10%;
		padding: 0 0 1% 0;
	}	
	.menu ul {
		padding: 10px 10px 10px 20px;
		position: absolute;
		width: 250px;
		border: solid 4px #900;
		background: #fff;
		border-radius: 5px;
		z-index: 999;
	}
	.menu li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	.menu .current {
		display: block; /* show only current <li> item */
	}

	.menu a {
		display: block;
		padding: 5px 5px 5px 5px;
		text-align: left;
	}
	.menu .current a {
		background: none;
		color: #666;
		text-align: left;
	}

	/* on nav hover */
	.menu ul:hover {
		background-image: none;
	}
	.menu ul:hover li {
		display: block;
		margin: 0 0 5px;
	}

	/* right nav */
	.menu.right ul {
		left: auto;
		right: 0;
	}

	/* center nav */
	.menu.center ul {
		left: 50%;
		margin-left: -90px;
	}

	.menu li {
		text-align: left;
		list-style: none;
		font-family: 'Playfair Display', serif;
		font-size: 12px;
		font-weight: 800;
		font-style: italic;
	}

	.menu li a {
		text-align: left;
		text-transform: none;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
	}

}


/* Responsive YouTube videos */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}